<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/ DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= @page_title || 'Apache Log Tracker'%></title>
	<%= stylesheet_link_tag 'apachetracker' %>
	<%= javascript_include_tag 'prototype', 'scriptacolous', 'effects'%>
</head>

<body> 
	<%flash.each do |key, text|%>
		<div id="flash_<%=key%>">
			<%=text.gsub("\n", "\n<br>")%>
		</div>
		<script>new Effect.Highlight('flash_<%=key%>'); </script>
			
	<%	end%>
	<%= @content_for_layout %>
</body>
</html>

